{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YouTube Video Downloader</title>
    {% comment %} <link rel="icon" type="image/png" sizes="32x32" href="images/logo.webp"> {% endcomment %}
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon16.webp">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon180.webp">
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700;800&display=swap">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "SoftwareApplication",
            "name": "YouTube Thumbnail Downloader",
            "operatingSystem": ["Windows", "macOS", "Android", "iOS"],
            "applicationCategory": "WebApplication",
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "4.9",
                "ratingCount": "25230"
            },
            "offers": {
                "@type": "Offer",
                "price": "0.0",
                "priceCurrency": "USD"
            }
        }
    </script>
</head>
<body>
    <header class="navbar">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'images/favicon180.webp' %}" width="30px" alt="Youtube Shorts Downloader" class="logo">
                Youtube Video Downloader
            </a>
            <div class="menu">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="/" class="nav-link">{% trans "Home" %}</a></li>
                    <li class="nav-item dropdown">
                        <select id="foo">
                            <option value='http://127.0.0.1:8000/en'>English</option>
                            <option value='http://127.0.0.1:8000/de'>German</option>
                            <option value="http://127.0.0.1:8000/es">Español</option>
                            <option value="http://127.0.0.1:8000/fr">Français</option>
                            <option value="http://127.0.0.1:8000/ru">Russain/Русский</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="nav-mobile" id="nav-toggle"><a href="#"><span></span></a></div>
        </div>
    </header>
    <div class="container-fluid tool mb">
        <ul class="row toolcenter">
            <li class="col text-center downloader focus">
                <a>
                    <label class="nav2" for="home" style="display:flex; flex-direction:column;">
                    <span class="toolicon"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                            width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2">
                                <rect width="20" height="16" x="2" y="4" rx="4" />
                                <path d="m15 12l-5-3v6l5-3Z" />
                            </g>
                        </svg></span>
                    
                        <span class="tooltxt">{% translate "MP4" %}</span>
                    </label>
                </a>
            </li>
            <li class="col text-center downloader">
                <a>
                    <label class="nav2" for="about" style="display:flex; flex-direction:column;">
                    <span class="toolicon"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                            width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                            <g fill="none" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M8 18V5.716a2 2 0 0 1 1.696-1.977l9-1.385A2 2 0 0 1 21 4.331V16" />
                                <path d="m8 9l13-2" />
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M8 18a3 3 0 1 1-6 0c0-1.657 1.343-2 3-2s3 .343 3 2Zm13-2a3 3 0 1 1-6 0c0-1.657 1.343-2 3-2s3 .343 3 2Z" />
                            </g>
                        </svg></span>
                        
                        <span class="tooltxt">{% trans "MP3" %}</span>
                        </label>
                    </a>
            </li>
        </ul>
    </div>
    <section class="container">
        <div class="search">
            <h1 class="text-center site"><b>{% trans "YouTube Video Downloader" %}</b></h1>
            <p class="text-center mb">{% trans "YouTube Video Download Online" %}</p>
            <span class="badge">{% trans "Enter the Link of YouTube Video" %}</span>
            <form method="post" id="search-form">
                {% csrf_token %}
                <input type="text" class="form-control mb" placeholder="https://www.youtube.com/watch?v=EDE10UUnAzM" name="urls" id="urls" required>
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{error}}
              </div>
            {% endif %}
            {% if error1 %}
            <div class="alert alert-danger" role="alert">
                {{error1}}
              </div>
            {% endif %}
            {% if error2 %}
            <div class="alert alert-danger" role="alert">
                {{error2}}
              </div>
            {% endif %}
            {% if error3 %}
            <div class="alert alert-danger" role="alert">
                {{error3}}
              </div>
            {% endif %}
            {% if error4 %}
            <div class="alert alert-danger" role="alert">
                {{error4}}
              </div>
            {% endif %}
            {% if error5 %}
            <div class="alert alert-danger" role="alert">
                {{error5}}
              </div>
            {% endif %}
            </form>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script>
                $(document).ready(function(){
                  $("#urls").on('input', function(){
                    $("#sociallink").hide();
                    $("#resultcontent").hide();
                    $("#resultcontent2").hide();
                  });
                });
                
                $(document).ready(function(){
                    $("#urls").on('input', function(){
                      $("#loaders").show();
                    });
                  });
            </script>
        <script src="https://code.jquery.com/jquery-3.5.1.js" 
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
            crossorigin="anonymous"></script>
        <div class="share mb">
            <div id="loaders" style=" text-align: center; background:transparent; display: block; display:none">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;display:block;position: sticky;width:25%;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                    <g transform="translate(20 50)">
                    <circle cx="0" cy="0" r="6" fill="#e15b64">
                      <animateTransform attributeName="transform" type="scale" begin="-0.375s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
                    </circle>
                    </g><g transform="translate(40 50)">
                    <circle cx="0" cy="0" r="6" fill="#f8b26a">
                      <animateTransform attributeName="transform" type="scale" begin="-0.25s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
                    </circle>
                    </g><g transform="translate(60 50)">
                    <circle cx="0" cy="0" r="6" fill="#abbd81">
                      <animateTransform attributeName="transform" type="scale" begin="-0.125s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
                    </circle>
                    </g><g transform="translate(80 50)">
                    <circle cx="0" cy="0" r="6" fill="#81a3bd">
                      <animateTransform attributeName="transform" type="scale" begin="0s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
                    </circle>
                    </g>
                </svg>
            </div>
        </div>
        <div id="card" class="mt-5">
        </div>
        <div class="row result displayflex" id="resultcontent2" >
            {% if video_title %}
            <div class="col-5">
                <div class="card vid">
                    {% if videoid %}
    <iframe width="400" height="225" src="https://www.youtube.com/embed/{{videoid}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% else %}
    <div id="player"></div>

    <script>
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      var player;
      var vid = "{{video_id}}"
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '225',
          width: '400',
          videoId: vid,
          playerVars: {
            'playsinline': 1
          },
          events: {
            'onStateChange': onPlayerStateChange
          }
        });
      }
      function onPlayerReady(event) {
        event.target.playVideo();
      }
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>
    {% endif %}
                    <div class="card-body">
                        <h3 class="card-title vid-title">{{video_title}}
                        </h3>
                        <p class="card-text duration">{% trans "Duration" %}: {{duration}}</p>
                    </div>
                </div>
            </div>
            <div class="col-7" id="resultcontent">
                <div class="layout">
                    <input name="nav" type="radio" class="nav home-radio" id="home" checked="checked" />
                    <div class="page home-page">
                        <div class="page-contents">
                            <table class="table table-hover align-middle table-borderedless">
                                <thead>
                                    <tr>
                                        <th scope="col">{% trans "Quality" %}</th>
                                        <th scope="col">{% trans "Format" %}</th>
                                        <th scope="col">{% trans "Sizes" %}</th>
                                        <th scope="col">{% trans "Action" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for video in video_dict%}
                                    {%if video.video_ext == 'mp4'%}
                                    {%if video.acodec == 'mp4a.40.2'%}
                                    {% if video.format_note == 'DASH video' %}
                                    {% else %}
                                    <tr>
                                        {% if '4320p' in video.format_note %}
                                        <th>4320p<sup class="quality">8k</sup></th>
                                        {% elif "2160p" in video.format_note %}
                                        <th>2160p<sup class="quality">4k</sup></th>
                                        {% elif "1440p" in video.format_note %}
                                        <th>1440p<sup class="quality">2k</sup></th>
                                        {% elif "1080p" in video.format_note %}
                                        <th>1080p<sup class="quality">HD</sup></th>
                                        {% else %}
                                        <th>{{video.format_note}}</th>
                                        {% endif %}
                                        <td>{{video.video_ext}}</td>
                                        <td>{{video.video_filesize}}</td>
                                        <td><a class="btn btn-danger" href="{{video.url}}" download="[ShortsDownloader.com]-{{video_title}}.{{video.video_ext}}">{% trans "Download" %}</a></td>
                                    </tr>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <label class="nav" for="home">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M18 7c0-1.103-.897-2-2-2H4c-1.103 0-2 .897-2 2v10c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-3.333L22 17V7l-4 3.333V7z"/></svg>
                            {% trans "Video" %}
                        </span>
                    </label>
                    <input name="nav" type="radio" class="about-radio" id="about" />
                    <div class="page about-page">
                        <div class="page-contents">
                            <table class="table table-hover align-middle table-borderedless">
                                <thead>    
                                    <tr>
                                        <th scope="col">{% trans "Quality" %}</th>
                                        <th scope="col">{% trans "Format" %}</th>
                                        <th scope="col">{% trans "Sizes" %}</th>
                                        <th scope="col">{% trans "Action" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for audio in audio_dict%}
                                        <tr>
                                            <th>{{audio.abr}}</th>
                                            <td>{{audio.audio_ext}}</td>
                                            <td>{{audio.audio_filesize}}</td>
                                            <td><a class="btn btn-danger" href="{{audio.url}}" download="[ShortsDownloader.com]-{{video_title}}.{{audio.audio_ext}}">{% trans "Download" %}</a></td>
                                        </tr>
                                        {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <label class="nav" for="about">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36"><path fill="currentColor" d="M31.68 6.16c-1.92-3.3-10.6-4-11.58-4.09L19 2v20.29a5.88 5.88 0 0 0-.81-.55a8.33 8.33 0 0 0-6.53-.41c-4.12 1.33-6.77 5.13-5.91 8.47a5.33 5.33 0 0 0 2.66 3.32a7.48 7.48 0 0 0 3.61.88a9.54 9.54 0 0 0 2.98-.48c3.7-1.19 6.2-4.37 6.06-7.42V8.49c1 .12 2.37.33 3.82.64a11.17 11.17 0 0 1 4.06 1.46c1 .66.38 1.9.33 2a11.8 11.8 0 0 1-1.66 2a1 1 0 0 0 1.33 1.49c.21-.23 5.56-5.08 2.74-9.92Z" class="clr-i-solid clr-i-solid-path-1"/><path fill="none" d="M0 0h36v36H0z"/></svg> 
                            {% trans "Audio" %}
                        </span>
                    </label>
                    <input name="nav" type="radio" class="contact-radio" id="contact" />
                    <div class="page contact-page">
                        <div class="page-contents">
                            <table class="table table-hover align-middle table-borderedless">
                                <thead>
                                    <tr>
                                        <th scope="col">{% trans "Quality" %}</th>
                                        <th scope="col">{% trans "Format" %}</th>
                                        <th scope="col">{% trans "Sizes" %}</th>
                                        <th scope="col">{% trans "Action" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for video in video_dict%}
                                    {%if video.video_ext == 'mp4'%}
                                    {%if video.acodec == 'none'%}
                                    {% if video.format_note == 'DASH video' %}
                                    {% else %}
                                    <tr>
                                        
                                        {% if '4320p' in video.format_note %}
                                        <th>4320p<sup class="quality">8k</sup></th>
                                        {% elif "2160p" in video.format_note %}
                                        <th>2160p<sup class="quality">4k</sup></th>
                                        {% elif "1440p" in video.format_note %}
                                        <th>1440p<sup class="quality">2k</sup></th>
                                        {% elif "1080p" in video.format_note %}
                                        <th>1080p<sup class="quality">HD</sup></th>
                                        {% else %}
                                        <th>{{video.format_note}}</th>
                                        {% endif %}
                                        <td>{{video.video_ext}}</td>
                                        <td>{{video.video_filesize}}</td>
                                        <td><a class="btn btn-danger" href="{{video.url}}" download="[ShortsDownloader.com]-{{video_title}}.{{video.video_ext}}">{% trans "Download" %}</a></td>
                                    </tr>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <label class="nav" for="contact">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M4 19h10.879L2.145 6.265A1.977 1.977 0 0 0 2 7v10c0 1.103.897 2 2 2zM18 7c0-1.103-.897-2-2-2H6.414L3.707 2.293L2.293 3.707l18 18l1.414-1.414L18 16.586v-2.919L22 17V7l-4 3.333V7z"/></svg>
                            {% trans "Shorts Without Sound" %}
                        </span>
                    </label>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script>
                $(document).ready(function(){
                  $("#download").click(function(){
                    $("#sociallink").hide();
                  });
                });
            </script>
            {% endif %}
    </section>
    <footer class="footer">
        <div class="container">
            <ul class="nav">
                <li class="nav-item"><a href="/" class="nav-link">{% trans "Home" %}</a></li>
                <li class="nav-item"><a href="//disclaimer" class="nav-link">{% trans "Disclaimer" %}</a>
                </li>
                <li class="nav-item"><a href="//privacy-policy" class="nav-link">{% trans "Privacy Policy" %}</a></li>
            </ul>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script src="{% static 'main.js' %}"></script>
    <script>
        const select = document.querySelector('select')
        select.onchange = () =>{
            if(select.selectedIndex !== 0){
                window.location.href = select.value
            }
        }    
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" 
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
      crossorigin="anonymous"></script>

<script type="text/javascript">
  $('#urls').on('input', function(){
      $('#search-form').submit()
  });
</script>
</body>
</html>